@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// COLORS
$cor-preto-1:#333333;

$cor-cinza-1:#666666;
$cor-cinza-2:#6D7D8B;

$cor-verde-1:#01B533;
$cor-verde-2:#4BFF72;
$cor-verde-3:#ACF8A0;

$cor-verde-claro-1:#F0FEEC;
$cor-verde-claro-2:#EEFEEC;

$cor-verde-pseudo-1:#12FF2A;


$cor-branco-1 : #fff;
//




//FONTES
$font-roboto: 'Roboto',
sans-serif;
$font-raleway: 'Raleway',
sans-serif;

$border-radius:7px;