/* .footer {
    background: $cor-2;
    padding: 60px 0 20px;
    color: white;

    &__logo {
       img{
         margin-bottom: 20px;
       }
       margin-bottom: 15px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;


        >div {
            margin-bottom: 25px;
        }

        h2 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 600;

            @include d(s) {
                font-size: 14px;
            }
        }

        a {
            color: white;
            margin-bottom: 10px;
            display: inline-block;

            @include d(s) {
                font-size: 12px;
            }

            &:hover {
                text-decoration: underline;

            }
        }
    }

}


.data__logo-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 5px 10px;
}

.data__logo-container img {
    width: 75px;
} */


.footer {
    .faixa {
        background: $cor-verde-claro-1;
        padding: 40px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 35px;
        flex-wrap: wrap;

        ul {
            max-width: 30%;
            min-width: 220px;
            margin-bottom: 20px;

            @include d(m) {
                margin-bottom: 30px;
            }

            h3 {
                margin: 0;
                padding: 0;
            }
        }
    }

    &__contato {
        display: flex;
        flex-direction: column;

        li+li {
            margin-top: 20px;
        }
    }

    &__novidades {
        @include d(m) {
            order: -1;
        }
    }

    a {
        &:hover {
            text-decoration: underline;
        }

    }
}