/* .footer {
    background: $cor-2;
    padding: 60px 0 20px;
    color: white;

    &__logo {
       img{
         margin-bottom: 20px;
       }
       margin-bottom: 15px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;


        >div {
            margin-bottom: 25px;
        }

        h2 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 600;

            @include d(s) {
                font-size: 14px;
            }
        }

        a {
            color: white;
            margin-bottom: 10px;
            display: inline-block;

            @include d(s) {
                font-size: 12px;
            }

            &:hover {
                text-decoration: underline;

            }
        }
    }

}


*/


.footer {
    padding-bottom: 20px;

    .faixa {
        background: $cor-verde-claro-1;
        padding: 40px 0;

        @include d(m) {
            padding: 30px 0;

            img {
                max-width: 160px;

            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 35px;
        flex-wrap: wrap;

        ul {
            max-width: 30%;
            min-width: 220px;
            margin-bottom: 20px;

            @include d(m) {
                margin-bottom: 30px;
            }

            h3 {
                margin: 0;
                padding: 0;
                margin-bottom: 15px;
                font-size: rem(22);
                color: $cor-verde-1;
            }

            a {
                color: $cor-preto-2;
                font-weight: 500;
            }

            li+li {
                margin-top: 20px;
            }
        }
    }

    &__contato {
        display: flex;
        flex-direction: column;
        margin-left: rem(20);

        li+li {
            margin-top: 30px;
        }

        li {
            a {
                position: relative;
                padding-left: 10px;


                &:after {
                    @include pseudo(absolute);
                    @include size(rem(25));
                    background-image: url(../img/icon/mail.svg);
                    left: rem(-24);
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                }


            }

            &:nth-child(2) {
                a {
                    &:after {
                        background-image: url(../img/icon/call.svg) !important;
                    }
                }

            }

            &:nth-child(3) {
                a {
                    &:after {
                        background-image: url(../img/icon/whats.svg);
                    }
                }

            }
        }
    }

    &__receba {
        flex-grow: 1;
        max-width: 25% !important;

        @include d(m) {
            order: -1;
            margin-bottom: 40px !important;
            max-width: 320px !important;
        }

        .input__container {
            display: flex;
            flex-direction: column;

            @include d(m) {
                justify-content: center;
                width: 100%;
            }

            label {
                margin-bottom: 4px;
                color: $cor-cinza-1;
                font-size: rem(18);
            }

            input {
                padding: 14px 15px;
                margin-bottom: 20px;
                border-radius: $border-radius;
                border: 1px solid $cor-verde-1;
                font-size: rem(18);

            }
        }



    }

    .btn__container {

        @include botaoIsentei;

        .btn {
            cursor: pointer;
            padding: 14px 40px;
            margin-top: 0;
        }

    }

    a {
        &:hover {
            text-decoration: underline;
        }

    }

    .data__logo-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 5px 10px;
        padding-top: 15px;

        @include d(m) {
            padding-top: 0px;

        }
    }

    .data__logo-container img {
        width: 75px;
    }
}