<<<<<<< HEAD
=======
@import "../utilities/responsivo"; //  RESPONSIVO

@mixin last__News {
  margin: 128px 0 64px 0;
  padding: 64px 0;
  overflow: hidden;
  position: relative;

  @include d(m) {
    padding-top: 80px;
    margin-top: 64px;
  }

  @include d(s) {
    padding-top: 40px;
  }

  .container {
    position: relative;
  }

  .ornamento__esquerdo {
    position: absolute;
    width: 200px;
    bottom: 67%;
    right: 85%;
    z-index: -20;

    @include d(m) {
      bottom: 68%;
      left: 1%;
    }

    @include d(s) {
      width: 150px;
      bottom: 72%;
      left: 3%;
    }
  }

  .ornamento__direito {
    position: absolute;
    width: 180px;
    top: 60%;
    left: 96%;

    @include d(m) {
      display: none;
    }

    @include d(s) {
      display: none;
    }
  }

  h2 {
    z-index: 1;
    margin-bottom: 36px;
    font-family: $font-raleway;
    font-weight: bold;
    font-size: rem(42);
    padding-left: 15px;
    color: $cor-preto-1;

    @include d(m) {
      font-size: rem(42);
    }

    @include d(s) {
      font-size: rem(36);
    }
  }

  .cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    z-index: -20;

    @include d(m) {
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    & .card__item {
      @include d(m) {
        width: 280px;
        flex-shrink: 0;
      }

      & a {
        cursor: pointer;
      }

      .card__img {
        width: 100%;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      li:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: rem(12);
        margin-top: 16px;
        color: $cor-preto-1;
      }

      li:nth-child(3) {
        h3 {
          margin: 16px 0;
          font-size: rem(22) !important;
          font-family: $font-raleway;
          font-weight: bold;

          @include d(m) {
            margin-bottom: 8px;
          }
        }

        p {
          font-size: rem(16);
          width: 100%;
          color: $cor-cinza-3;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
>>>>>>> 626d30490b46fbbebcceab3f950511ee328e9d5b
