.container:not(.menu .container) {
  max-width: 1200px;
}


section {
  overflow: hidden;
}

.blog>.container {

  @include d(m) {
    padding-left: 0;
    padding-right: 0;
  }
}

.blog {
  margin-top: 140px;
  max-width: 100%;

  h1 {
    color: $cor-preto-1;
    font-family: $font-raleway;
    font-size: calc(32px + .9rem);
    font-weight: bold;
    margin-bottom: 38px;
    padding: 0 15px;
  }

  .blog__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .blog__grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .intro__grid {
      display: flex;
      flex-wrap: wrap;

      .intro__img {
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }

      .intro__text {
        height: min-content;

        .span {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          span {
            color: $cor-preto-1;
            font-size: rem(14);
            padding-top: 10px;
            padding-bottom: 16px;

            &:nth-child(2) {
              color: $cor-cinza-3;
              font-size: rem(12);
            }

            @include d(m) {
              font-size: calc(10px + .4rem);
            }
          }
        }

        h2 {
          font-size: calc(24px + .4rem);
          color: $cor-preto-1;
          padding-bottom: 16px;
          line-height: 140%;
          font-family: $font-raleway;
          font-weight: 700;

          @include d(m) {
            font-size: calc(20px + .5rem);
          }
        }

        p {
          font-size: rem(16);
          color: $cor-cinza-1;
          line-height: 150%;

          @include d(m) {
            font-size: calc(12px + .4rem);
          }

        }

        .btn__intro {
          display: block;
          width: max-content;
          margin-top: 16px;
          font-size: calc(10px + .4rem);
          color: $cor-verde-1;
          font-weight: bold;
          padding: 10px 5px;

          &:hover {
            background-color: $cor-verde-claro-1;
            border-radius: 7px;
          }

        }
      }
    }
  }
}

.destaques__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 0;

  @include d(m) {
    margin: 64px 0 0 0;
    flex-direction: column;
    align-content: center;
  }

  .col-lg-3 {
    max-width: 30%;
    flex: 1 1 30%
  }

  .card__item {
    min-width: 280px;
    max-width: 400px;

    @include d(s) {
      max-width: 340px;
      margin: 0 auto 35px;

    }
  }

  .card__img {
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  li:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    span {
      font-size: rem(14);
      margin-top: 10px;
      color: $cor-preto-1;

      &:nth-child(2) {
        color: $cor-cinza-3;
        font-size: rem(12);
      }
    }

  }

  li:nth-child(3) {
    h3 {
      margin: 16px 0;
      font-size: rem(24);
      font-family: $font-raleway;
      font-weight: bold;
      color: $cor-preto-1;

      @include d(m) {
        font-size: calc(14px + .4rem);
        margin-bottom: 8px;
      }
    }

    p {
      font-size: rem(16);
      width: 100%;
      color: $cor-cinza-1;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @include d(m) {
        font-size: calc(10px + .4rem);
      }
    }
  }


  .btn__destaques {
    display: block;
    width: max-content;
    margin-top: 16px;
    font-size: rem(14);
    color: $cor-verde-1;
    font-weight: bold;
    padding: 5px 10px 5px 0;

    &:hover {
      background-color: $cor-verde-claro-1;
      border-radius: 7px;
    }

    @include d(m) {
      font-size: calc(6px + .4rem);
    }
  }

}

.margem {
  margin-bottom: 60px;
}

.btn__container {
  @include botaoIsentei;


  .btn {
    width: 180px;
    justify-content: center;
  }
}

.link__nao-link {
  cursor: pointer;
}

// .btn__blog {
//   position: relative;
//   display: block;
//   max-width: 220px;
//   margin: 64px auto 128px auto;
//   background: $cor-verde-1;
//   text-align: center;
//   font-weight: 500;
//   cursor: pointer;
//   padding: 12px 20px;
//   color: white;
//   font-family: $font-raleway;
//   letter-spacing: .02rem;
//   font-size: rem(16);
//   transition: .3s ease;
//   border-radius: 7px;

//   @include d(m) {
//     margin: 64px auto;
//   }

//   &:hover {
//     background: #068129;
//   }


// }
.fontChange {
  top: 75vh;
}