@import "../components/number";
@import "../components/intro__isentei";




.intro {
    @include intro__isentei;

    &#intro {
        .intro__text {
            margin-top: -50px !important;

            h1 {
                font-size: calc(42px + .9rem);
                font-weight: 900 !important;
                max-width: rem(750);
                margin: 0 auto;

                @include d(s) {
                    font-size: calc(16px + 1rem);
                }
            }
        }

        .btn__container {
            .btn {
                padding: 12px 70px !important;
                margin-top: 40px;

                @include d(m) {
                    padding: 12px 30px !important;
                    margin-top: 40px;
                    width: 180px;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}

//ornamentos

.intro {

    //ornamentos
    .orna__1 {
        top: 0;
        position: absolute;
        right: -7vw;
        // width: 14vw;
        @include clamp("width", 120px, 20vw, 240px);

        @include d(s) {
            width: 100px;
            right: -30px;
        }
    }

    .orna__2 {
        position: absolute;
        top: 56vh;
        right: 26vw;
        // width: clamp(30px, 3.5vw, 60px);
        @include clamp("width", 30px, 3.5vw, 60px);

        @include d(m) {
            display: none;
        }
    }

    .orna__3 {
        position: absolute;
        bottom: 4vw;
        left: 9vw;
        @include clamp("width", 30px, 3.5vw, 60px);

        @include d(s) {
            bottom: 20vh;
        }
    }

    .orna__4 {

        top: 15vh;
        position: absolute;
        right: 55%;
        left: 45%;
        margin: auto 0;
        width: 20px;
        opacity: .1;

        @include d(s) {
            width: 15px;
        }
    }

    .orna__5 {

        top: calc(27vh - 3rem);
        position: absolute;
        right: calc(61% + 1rem);

        margin: auto 0;
        width: 20px;

        @include d(s) {
            width: 15px;
            right: calc(64% + 1rem);
            top: 18vh;
        }


    }

    .orna__6 {
        bottom: 0;
        position: absolute;
        left: -2vw;
        // width: 14vw;
        @include clamp("width", 120px, 19vw, 220px);

        @include d(s) {
            display: none;
        }
    }

    .orna__7 {
        bottom: 30vh;
        position: absolute;
        right: 15vw;
        width: 25px;
        opacity: .1;

        @include d(s) {
            display: none;
        }
    }

    .orna__8 {
        bottom: 20vh;
        position: absolute;
        left: 25vw;
        width: 25px;
        opacity: .1;

        @include d(s) {
            display: none;
        }
    }

    .orna__9 {
        top: calc(36vh - 3rem);
        transform: translateY(-1.2rem);
        position: absolute;
        right: 30%;
        margin: auto 0;
        width: 12px;

        @include d(m) {
            display: none;
        }


    }

    .orna__10 {
        top: 27vh;
        position: absolute;
        left: 15vw;
        margin: auto 0;
        width: 30px;
    }
}

.number {
    @include secao__number;

    &#number {
        padding: 0px 0 120px;
    }
}

.lei {
    padding: 0 0 120px;
    overflow: hidden;

    &__text {
        min-height: 600px;
        padding: 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        
        @include d(s) {
            padding: 0 15px;
            min-height: 420px;
        }

        h1 {
            font-family: $font-raleway;
            font-weight: 700;
            font-size: calc(22px + .6rem);
            text-align: center;
            max-width: 1050px;
            color: $cor-preto-1;

            @include d(s) {
                font-size: calc(14px + .5rem);

            }
        }
    }

    &__wrapper {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
        justify-items: center;
        @include d(m){
        grid-template-columns: 1fr ;

        }

        .lei__card {
            box-shadow: 10px -1px 30px rgb(0 0 0 / 5%);
            max-width: 600px !important;
            padding: 90px 60px;
            background: white;
            border-radius: 7px;
            min-height: 510px;  
            transition: all .4s ease-in-out;
            @include d(m){
                padding: 50px 30px;
            }

            &:hover {
                background: $cor-verde-claro-2;
            }

            h2 {
                margin-bottom: 40px;
                color: $cor-preto-1;
                font-family: $font-raleway;
                font-weight: 700;
                font-size: calc(42px + .5rem);

                @include d(s) {
                    font-size: calc(14px + .5rem);

                }
            }

            p {
                color: #2E2C2C;
                font-weight: 500;
                font-size: rem(18);
                font-family: 'Roboto';
                font-weight: 500;
                line-height: 155%;
                max-width: 440px;
                min-height: 125px;
            }

            .btn__container {
                @include botaoIsentei($cor-verde-1, transparent);
                justify-content: center;
                width: 100%;

                .btn {
                    transition: all .3s ease;
                    border: 2px solid $cor-verde-1;
                    padding: 16px 40px;
                    width: 320px;
                    text-align: center;
                    margin-top: 45px;
                    justify-content: center;


                    &:hover {
                        background: $cor-verde-1;
                        color: white;
                    }

                }
            }
        }
    }
}

//ornas lei 
.lei {
    position: relative;

    .wave__1 {
        position: absolute;
        left: -1vw;
        top: -54px;
        z-index: -1;
        width: 30vw;
        max-width: 331px;

        @include d(m) {
            max-width: initial;
            width: 186px;
        }
    }

    .wave__2 {
        position: absolute;
        right: -1vw;
        top: -106px;
        z-index: -1;
        width: 30vw;
        max-width: 490px;

        @include d(m) {
            width: 32vw;
            max-width: 350px;
            top: 200px;
            right: -31px;
        }
    }

    .orna__1 {
        position: absolute;
        left: 11vw;
        top: 13vw;
        z-index: 1;
        width: 30vw;
        max-width: 32px;

        @include d(s) {
            max-width: 20px;
        }
    }

    .orna__2 {
        position: absolute;
        left: 30vw;
        top: 7vw;
        z-index: 1;
        width: 30vw;
        max-width: 25px;
    }

    .orna__3 {
        position: absolute;
        left: 40vw;
        top: 450px;
        z-index: 1;
        width: 400px;
        max-width: 100%;

        @include d(m) {
            display: none;
        }
    }

    .orna__5 {
        top: 100px;
        z-index: 1;
        width: 206px;
        /* max-width: 100%; */
        right: 20px;
        position: absolute;

        @include d(m) {
            display: none;
        }
    }

    .orna__6 {
        top: 127px;
        z-index: 1;
        width: 20px;
        left: 60vw;
        position: absolute;
        opacity: .1;

        @include d(m) {
            display: none;
        }
    }
}