@import "../components/last__News";

.container {
  max-width: 1000px;
}

/* INTRO DO BLOG */

.single {
  margin-top: 170px;
  max-width: 100%;

  h2 {
    color: $cor-preto-1;
    font-family: $font-raleway;
    font-size: rem(48);
    font-weight: bold;
    margin-bottom: 38px;
  }

  & .single__span {
    display: flex;
    justify-content: space-between;
    margin: 38px 0 30px 0;
    color: $cor-preto-1;

    span:nth-child(2) {
      font-size: rem(12);
      color: $cor-cinza-3;
    }
  }
}

/* SEÇÃO DOS TEXTOS */

.single__content {
  h1 {
    font-family: $font-raleway;
    font-weight: bold;
    font-size: rem(42);
    margin-bottom: 111px;
    color: $cor-preto-1;

    @include d(m) {
      font-size: rem(36);
      margin-bottom: 60px;
    }
  }

  h2 {
    font-family: $font-roboto;
    font-size: rem(22);
    font-weight: normal;
    color: $cor-cinza-1;
    margin-bottom: 51px;

    @include d(m) {
      font-size: rem(22);
    }
  }

  h3 {
    font-family: $font-raleway;
    font-size: rem(32);
    font-weight: bold;
    margin-bottom: 30px;
    color: $cor-preto-1;
    display: list-item;
    margin-left: 30px;

    @include d(m) {
      margin-top: 60px;
      margin-bottom: 15px;
      margin-left: 20px;
      font-size: rem(24);
    }
  }

  .final {
    margin: 69px 0 36px 30px;

    @include d(m) {
      margin: 60px 0 15px 20px;
    }
  }

  p {
    font-size: rem(18);
    line-height: 150%;
    margin-top: 24px;
    color: $cor-cinza-1;
    letter-spacing: -3.5%;
    max-width: 1197px;

    @include d(m) {
      margin-top: 15px;
      font-size: rem(18);
    }
  }

  .content__item-list {
    margin-top: 21px;
    margin-bottom: 17x;
    margin-left: 40px;

    .list__item {
      list-style-type: disc;
      font-family: $font-raleway;
      font-size: rem(24);
      margin-left: 30px;
      line-height: 170%;
      color: $cor-preto-1;

      @include d(m) {
        margin-left: -20px;
        font-size: rem(18);
      }
    }
  }

  h4 {
    font-size: rem(22);
    color: $cor-cinza-1;
    font-style: italic;
    font-weight: 500;

    @include d(m) {
      font-size: rem(20);
    }
  }

  .list-2 {
    margin: 110px 0px 122px 40px;

    .list__item {
      list-style-type: disc;
      font-family: $font-raleway;
      font-size: rem(24);
      margin-left: 30px;
      line-height: 170%;
      color: $cor-preto-1;

      @include d(m) {
        margin-left: -20px;
        font-size: rem(18);
      }
    }
  }

  span {
    font-size: rem(26);
    font-family: $font-roboto;
    font-weight: bold;
    color: $cor-preto-1;

    @include d(m) {
      font-size: rem(18);
    }
  }
}

/* SEÇÃO NOTICIAS */


.single__lastNews {
  @include last__News;
}

.proximo {
  @include d(m) {
    bottom: 50px;
    left: 90%;
  }
}