& {
    height: 10000px;
}

$shadow: 2px 2px 3px rgba(215, 215, 215, 0.1);


@mixin botaoIsentei($cor:white, $bg:$cor-verde-1) {
    display: inline-flex;

    .btn {
        background: $bg;
        color: $cor;
        flex-grow: 0;
        @include center;
        margin-top: 20px;
        padding: 10px 30px;
        border-radius: $border-radius;
        transition: transform .3s ease, box-shadow .3s ease;
        font-size: rem(16);
        display: inline-flex;
        align-items: center;
        text-align: center;

        @include d(m) {
            max-width: 250px;
            flex-wrap: nowrap;
            text-align: center;
            padding: 6px 20px
        }

        ion-icon {
            margin-left: 5px;
            vertical-align: middle;

            @include d(m) {
                margin-left: 10px;
                font-size: rem(28);
            }

        }

        &:hover {
            transform: translateY(-3px);

            box-shadow: 2px 3px 20px #01b5345b;

            ion-icon {
                animation: setaButton .5s linear infinite alternate;
            }
        }
    }
}


@mixin textIntro {
    text-align: center;
    line-height: 145%;
    color: $cor-preto-1;
    letter-spacing: -0.03em;
    font-size: rem(48);
    font-weight: bold;

    @include d(m) {
        font-size: rem(28);
    }

    @include d(s) {
        font-size: rem(26);
    }
}

.intro {

    height: 100vh;
    min-height: 620px;
    max-height: 1080px;
    background: $cor-verde-claro-1;
    padding-top: 80px;
    overflow: hidden;
    position: relative;

    >.container {
        height: 100%;
    }

    .intro__text {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -100px;
        font-family: $font-raleway;

        h1 {

            @include textIntro;

            span {
                letter-spacing: -0.03em;
                font-weight: 900;
                display: inline-block;

                font-size: rem(48);

                @include d(m) {
                    font-size: rem(42);
                }

                @include d(s) {
                    font-size: rem(36);
                }
            }
        }

        p {
            font-size: rem(14);
            text-align: center;
            max-width: 320px;
            display: inline-block;
            @include center;
            margin-top: 20px;
            font-family: $font-roboto;

            @include d(s) {
                max-width: 250px;
            }

        }
    }

    @keyframes setaButton {
        100% {
            transform: translateY(3px);
        }

        0% {
            transform: translateY(0px);
        }
    }

    .btn__container {
        @include botaoIsentei;
    }

    //svg e ornas
    .icon-intro-complete {
        height: clamp(200px, 50vh, 400px);
        width: clamp(200px, 35vw, 500px);
        bottom: -100px;
        position: absolute;
        left: -50px;
        right: 0;
        margin: auto;
        z-index: 1;

        @include d(m) {
            bottom: -100px;
            width: 300px;
            height: 260px;
        }
    }

    .orna__intro {
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        margin: auto;
        left: -20px;
    }

    .circulos__intro {
        width: 100%;
        position: absolute;
        top: 0;
        margin: auto;
        left: 0px;
        height: 120%;
    }
}

.info {

    height: 100vh;

    @include d(m) {
        height: 100%;
        padding: 60px 0 80px;

    }

    .container {
        height: 100%;

    }

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start !important;
        flex-wrap: wrap;
        justify-content: center;


    }

    &__item {
        min-width: 230px;
        max-width: 350px;
        margin: 20px 0;

        @include d(m) {
            margin: 40px 0 60px;
            text-align: center;
            align-items: center;
        }

        img {
            height: 64px;
            width: 64px;
            margin-bottom: 30px;
            object-fit: contain;



        }

        .img__container {
            position: relative;
            width: max-content;
            height: max-content;

            @include d(m) {
                margin: 0 auto;
            }

            &:after {
                @include pseudo(absolute);
                @include size(100%);
                background: $cor-verde-pseudo-1;
                bottom: -20px;
                z-index: -1;
                border-radius: 50%;
                left: -20px;
                opacity: .1;
            }
        }

        h2 {

            font-size: rem(24);
            margin-bottom: 10px;
            color: $cor-preto-1;

        }

        p {
            color: $cor-cinza-1;
            min-height: 165px;
            font-size: rem(16);

            @include d(m) {
                min-height: initial;
            }
        }

        .btn__container {
            @include botaoIsentei($cor-preto-1, $cor-verde-2);

            .btn {
                font-weight: 500;
                padding-right: 50px;
                padding-left: 50px;
            }
        }

    }

}

.calc {
    position: relative;

    @include d(m) {
        font-size: 22px;
    }

    >.container {
        @include d(s) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__wrapper {
        display: flex;
        height: 100%;

        @include d(m) {
            flex-wrap: wrap;
        }
    }

    &__svg {
        position: absolute;
        left: -100px;
        bottom: -100px;
        width: 600px;
        height: 500px;

        @include d(m) {
            display: none;
        }
    }

    &__text {
        padding-right: 60px !important;

        @include d(m) {
            max-width: 660px;
            margin: 0 auto 40px;
            padding-right: 15px !important;
        }


        h2 {
            font-size: rem(28);
            font-weight: 700;
            font-family: $font-raleway;
            margin-bottom: 20px;

            @include d(s) {
                font-size: rem(24);
            }
        }

        p {
            font-size: rem(18);
            line-height: 145%;
            color: $cor-preto-1;
            margin-bottom: 15px;
            display: inline-block;
        }
    }

    &__calculadora {
        @include d(s) {
            padding: 0;
        }
    }

    .calculadora__container {
        background: $cor-verde-1;
        color: white;
        padding: 30px 80px 40px;
        max-width: 620px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @include d(m) {
            padding: 30px 60px 40px
        }

        @include d(s) {
            padding: 30px 20px 40px
        }


        >h2 {
            font-size: rem(42);
            line-height: 145%;
            font-family: $font-raleway;
            max-width: 550px;
            font-weight: 700;
            margin-bottom: 20px;

            @include d(m) {
                font-size: rem(28);
            }
        }

        //inputs e selects
        .input__container {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;


            input {
                padding: 15px 10px;
                border-radius: $border-radius;
            }


        }

        input,
        select {
            border: initial;
            color: $cor-cinza-1;
            font-size: rem(16);
        }

        label,
        p {
            margin-bottom: 5px;
            font-size: rem(16);
        }

        p {
            width: 100%;
        }

        .select__wrap {
            width: max-content;
            width: 48%;
            position: relative;

            &:after {
                @include pseudo(absolute);
                background-image: url(../img/icon/down.svg);
                @include size(10px);
                right: 15px;
                top: 0;
                bottom: 0;
                margin: auto 0;

            }
        }

        .select__wrap+.select__wrap {
            margin-left: auto
        }

        select {
            position: absolute;
            width: 100%;
            padding: 15px 10px;
            border-radius: $border-radius;
            cursor: pointer;
            color: $cor-cinza-1;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            position: relative;

            &:after {}
        }


    }



    .select__container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;


    }

    .btn {
        width: 100%;
        background: #089F32;
        text-align: center;
        font-weight: 500;
        display: inline-block;
        cursor: pointer;
        padding: 18px 0;
        color: white;
        font-family: $font-raleway;
        letter-spacing: .02rem;
        font-size: rem(18);
        transition: .3s ease;

        &:hover {
            background: #068129;
        }
    }
}

.number {
    height: 600px;
    padding: 120px 0;
    display: flex;
    align-items: center;

    &__wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 360px);
        column-gap: 30px;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;

        @include d(m) {
            grid-template-columns: 1fr;
            row-gap: 30px;

        }

    }

    &__item {
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
            @include d(m) {
                position: relative;
                left: 15px;
            }

            p {
                left: -10px;
                position: relative;
            }
        }


        .img__container {
            position: relative;
            width: 300px;
            height: 90px;
            margin: 0 auto;


            @include d(m) {
                width: 260px;
            }

            img {
                position: absolute;
                @include inset;
                margin: auto;
            }

        }

        p {
            text-align: center;
            display: block;
            margin: 0 auto;





            @include d(m) {
                position: initial;
            }
        }
    }
}

.depo {
    .swiper__container-depo {
        max-width: 1004px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        padding-top: 180px;
        margin-top: -150px;

    }

    &__text {
        text-align: center;

        h1 {
            font-size: rem(45);
            color: $cor-preto-1;
            font-family: $font-raleway;
            font-weight: 700;
        }

        p {
            color: $cor-cinza-1;
            max-width: 460px;
            margin: 20px auto 40px;
            font-weight: 500;
        }
    }

    //wapper
    &__cards {
        max-width: 1000px;
        padding-bottom: 40px;

    }

    //item
    &__card {
        width: 320px;
        padding: 20px 30px;
        box-shadow: 1px 1px 10px rgb(0 0 0 / 4%);
        border-radius: $border-radius;
        border: 1px solid rgba(0, 0, 0, 0.05);
        min-height: 340px;
    }

    //estilos dentro do item
    &__card {
        .stars {
            display: block;
            @include bg-props-contain;
            height: 35px;
            width: 170px;
            background-image: url("../img/icon/5-star.svg");
            margin-bottom: 40px;
        }

        p {
            color: $cor-cinza-2;
        }

        p,
        h3,
        h4 {
            color: $cor-cinza-2;
            margin: 0;
            padding: 0;

        }

        h3 {
            font-size: rem(16);
            margin-top: 25px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        h4 {
            font-size: rem(14);
            font-weight: 400;

        }
    }

    //swiper buttons
    .swiper__buttons {
        position: absolute;
        top: 0;
        width: 200px;
        height: 100px;
        right: 0;

        @include d(m) {
            top: 100px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {

        &.swiper-button-disabled {
            opacity: .2 !important;
        }

        &:after {
            font-size: 2rem;
            color: $cor-cinza-1;
        }

    }

    .swiper-button-prev {
        left: 50px;

        @include d(m) {
            left: 100px;
        }
    }

}

.midia {
    padding: 120px 0 0;
    overflow: hidden;
    margin-bottom: 100px;

    &__text {
        display: flex;
        width: 100%;
        justify-content: center;



        h1 {
            text-align: center;
            counter-reset: $cor-preto-1;
            margin-bottom: 40px;
            display: inline-block;
            font-size: rem(45);
            font-family: $font-raleway;
            font-weight: 700;
        }
    }

    &__quebra {
        padding: 80px 0;
        background: $cor-verde-claro-2;

    }

    .quebra {
        &__wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;

            @include d(m) {
                justify-content: initial;
            }
        }

        &__item {
            margin: 10px auto;

            @include d(m) {
                width: 330px;
            }

            img {
                margin: 0 auto;
            }

            p {
                text-align: center;
                font-weight: 500;
                color: #000000;
            }
        }
    }

    

}