@import "../components/intro__isentei";


@include d(m) {
    .fontChange {
        top: 85vh;

    }
}


.intro {
    @include intro__isentei;
    margin-bottom: 40px;


    &#intro {
        min-height: 715px;

        h1 {
            span {
                font-size: calc(42px + .9rem) !important;

                @include d(s) {
                    font-size: 32px !important;
                }
            }
        }

        .intro__text {
            p {
                max-width: rem(705);
                color: $cor-cinza-1;
            }


        }

        .intro__text {
            @include d(m) {
                margin-top: -50px;
            }

            p {

                @include d(m) {
                    font-size: calc(12px + 0.2rem);
                    line-height: 130%;

                }
            }

            p.seconds {
                margin-top: 5px;
            }

            .btn__container .btn {
                width: 320px;
            }
        }

        .btn__container {
            .btn {

                margin-top: 60px;
                width: 240px;
                justify-content: center;

                @include d(s) {
                    padding: 12px 20px;
                    margin-top: 30px;
                }

                strong {
                    font-family: $font-roboto;
                    font-weight: 400;
                }

            }
        }


        .icon-intro-complete {
            bottom: 0px;
            position: absolute;
            left: 0px;
            right: 0;
            margin: auto;
            z-index: 1;
            object-fit: contain;
            @include clamp("height", 100px, 29vh, 230px);

            @include d(m) {
                bottom: 00px;
                width: 220px;
                height: 160px;
            }
        }
    }
}

//ornamentos 
.intro {

    //ornamentos
    .orna__1 {
        top: 0;
        position: absolute;
        right: -7vw;
        // width: 14vw;
        @include clamp("width", 120px, 20vw, 240px);

        @include d(s) {
            width: 100px;
            right: -30px;
        }
    }

    .orna__2 {
        position: absolute;
        top: 47vh;
        right: 30vw;
        // width: clamp(30px, 3.5vw, 60px);
        @include clamp("width", 30px, 3.5vw, 60px);

        @include d(m) {
            display: none;
        }
    }

    .orna__3 {
        position: absolute;
        bottom: 4vw;
        left: 9vw;
        @include clamp("width", 30px, 3.5vw, 60px);

        @include d(s) {
            bottom: 36vh;
        }
    }

    .orna__4 {

        top: 15vh;
        position: absolute;
        right: 55%;
        left: 45%;
        margin: auto 0;
        width: 20px;
        opacity: .1;

        @include d(s) {
            width: 15px;
        }
    }

    .orna__5 {

        top: calc(27vh - 3rem);
        transform: translateY(-1.2rem);
        position: absolute;
        right: calc(61% + 1rem);

        margin: auto 0;
        width: 20px;

        @include d(s) {
            width: 15px;
            right: calc(64% + 1rem);
            top: 18vh;
        }


    }

    .orna__6 {
        bottom: 0;
        position: absolute;
        left: -2vw;
        // width: 14vw;
        @include clamp("width", 120px, 19vw, 220px);

        @include d(s) {
            display: none;
        }
    }

    .orna__7 {
        bottom: 30vh;
        position: absolute;
        right: 15vw;
        width: 25px;
        opacity: .1;

        @include d(s) {
            display: none;
        }
    }

    .orna__8 {
        bottom: 20vh;
        position: absolute;
        left: 25vw;
        width: 25px;
        opacity: .1;

        @include d(s) {
            display: none;
        }
    }

    .orna__9 {
        top: calc(36vh - 3rem);
        transform: translateY(-1.2rem);
        position: absolute;
        right: 30%;
        margin: auto 0;
        width: 12px;

        @include d(m) {
            display: none;
        }


    }

    .orna__10 {
        top: calc(36vh - 3rem);
        transform: translateY(-1.2rem);
        position: absolute;
        margin: auto 0;
        width: 35px;

        left: 25vw;

        @include d(m) {
            display: none;
        }


    }
}

.voce {
    height: 100vh;
    display: flex;
    align-items: center;


    >.container {
        max-width: 1280px;
    }

    @include d(m) {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include d(m) {
            flex-wrap: wrap;
            max-width: 500px;
            margin: 0 auto;
        }
    }

    &__video {
        @include d(m) {
            width: 300px;
        }
    }

    &__item {
        position: relative;

        h1 {
            font-size: calc(18px + 0.8rem);
            margin-bottom: 45px;
            font-family: raleway;
            font-weight: 700;
        }

        img {
            margin: auto;
        }

        p {
            color: $cor-cinza-1;
            margin-bottom: 20px;
            display: inline-block;
            letter-spacing: -0.3px;
        }
    }

    .orna {
        &__1 {
            position: absolute;
            top: 300px;
            left: 50px;
            width: 50px;

        }

        &__2 {
            position: absolute;
            top: 20px;
            right: 60px;
            width: 50px;

        }

        &__3 {
            position: absolute;
            top: 10px;
            left: 70px;
            width: 80px;

        }

        &__4 {
            position: absolute;
            bottom: 10px;
            left: 190px;
            width: 20px;

        }

        &__5 {
            position: absolute;
            bottom: -20px;
            right: 100px;
            width: 60px;

        }
    }


}

@include d(m) {
    .voce {
        margin-bottom: 80px;

        .voce__video {
            @include center;
            margin-top: 60px;


            .orna {
                &__1 {
                    position: absolute;
                    top: 10px !important;
                    left: 50px;
                    width: 20px;

                }

                &__2 {
                    position: absolute;
                    top: 0px;
                    right: 10px;
                    width: 20px;

                }

                &__3 {
                    position: absolute;
                    bottom: 10px;
                    top: initial;
                    right: 50px;
                    left: initial;
                    width: 30px;

                }

                &__4 {
                    position: absolute;
                    bottom: 50px;
                    left: 0px;
                    width: 15px;

                }

                &__5 {
                    position: absolute;
                    bottom: -20px;
                    right: initial;
                    left: 50px;
                    width: 40px;

                }
            }
        }
    }
}

.perguntas {

    margin-bottom: 80px;

    &__text {
        h1 {
            font-family: $font-raleway;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 30px
        }
    }

    @import "../components/accordion";

    dl[data-accordion] {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, auto));
        gap: 30px;
        align-items: start;

        @include d(s) {
            gap: 15px;
        }

        .perguntas__item {
            background: #ecf2fe;
            border-radius: 8px;

            dt {
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 12px;
                border-radius: 5px;
                border: 1px solid var(--color-border);
                font-size: rem(16);
                font-family: $font-roboto;
                font-weight: 500;
                color: $cor-preto-1;

                max-width: 900px;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                width: 100%;
                color: var(--color-titulo);
                cursor: pointer;

            }


            dd {
                margin-bottom: 0;
                margin-right: 10px;
                margin-left: 10px;
            }

            .content {
                font-size: rem(16);
                line-height: 145%;
                padding-bottom: 20px;
                color: $cor-cinza-1;
            }
        }
    }

}