@import "../components/number";
@import "../components/intro__isentei";

section {
    overflow: hidden
}


.intro {
    @include intro__isentei;

    &#intro {
        .intro__text {
            margin-top: -50px !important;

            h1 {
                font-size: calc(42px + .9rem);
                font-weight: 900 !important;
                max-width: rem(750);
                margin: 0 auto;

                @include d(s) {
                    font-size: calc(16px + 1rem);
                }
            }
        }

        .btn__container {
            .btn {
                padding: 12px 70px !important;
                margin-top: 40px;

                @include d(m) {
                    padding: 12px 30px !important;
                    margin-top: 40px;
                    width: 180px;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}

//ornamentos

.intro {

    //ornamentos
    .orna__1 {
        top: 0;
        position: absolute;
        right: -7vw;
        // width: 14vw;
        @include clamp("width", 120px, 20vw, 240px);

        @include d(s) {
            width: 100px;
            right: -30px;
        }
    }

    .orna__2 {
        position: absolute;
        top: 56vh;
        right: 26vw;
        // width: clamp(30px, 3.5vw, 60px);
        @include clamp("width", 30px, 3.5vw, 60px);


        @include d(s) {
            display: block;
            position: absolute;
            top: 90vh;
            right: initial;
            width: 30px;
            left: 40px;
        }
    }

    .orna__3 {
        position: absolute;
        bottom: 4vw;
        left: 9vw;
        @include clamp("width", 30px, 3.5vw, 60px);

        @include d(s) {
            bottom: 20vh;
        }
    }

    .orna__4 {

        top: 15vh;
        position: absolute;
        right: 55%;
        left: 45%;
        margin: auto 0;
        width: 20px;
        opacity: .1;

        @include d(s) {
            width: 15px;
            top: 200px;
            position: absolute;
            left: initial;
            right: 40px;
            margin: auto 0;
            width: 20px;
            opacity: 0.1;
        }
    }

    .orna__5 {

        top: calc(27vh - 3rem);
        position: absolute;
        right: calc(61% + 1rem);

        margin: auto 0;
        width: 20px;

        @include d(s) {
            width: 15px;
            right: calc(64% + 1rem);
            top: 18vh;
        }


    }

    .orna__6 {
        bottom: 0;
        position: absolute;
        left: -2vw;
        // width: 14vw;
        @include clamp("width", 120px, 19vw, 220px);

        @include d(s) {
            display: none;
        }
    }

    .orna__7 {
        bottom: 30vh;
        position: absolute;
        right: 15vw;
        width: 25px;
        opacity: .1;

        @include d(s) {
            display: none;
        }
    }

    .orna__8 {
        bottom: 20vh;
        position: absolute;
        left: 25vw;
        width: 25px;
        opacity: .1;

        @include d(s) {
            display: none;
        }
    }

    .orna__9 {
        top: calc(36vh - 3rem);
        transform: translateY(-1.2rem);
        position: absolute;
        right: 30%;
        margin: auto 0;
        width: 12px;

        @include d(m) {
            display: none;
        }


    }

    .orna__10 {
        top: 27vh;
        position: absolute;
        left: 15vw;
        margin: auto 0;
        width: 30px;

        @include d(s) {
            top: 30vh;
            position: absolute;
            left: 5vw;
            margin: auto 0;
            width: 20px;
        }
    }
}

.number {
    @include secao__number;
    transform: translateX(-10px);

    &#number {
        padding: 0;
        padding-top: 100px;
        height: 300px;

        @include d(m) {
            height: 100%;
        }
    }
}

.lei {
    padding: 0 0 120px;
    overflow: hidden;

    &__text {
        min-height: 350px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;


        @include d(s) {
            padding: 0 15px;
            min-height: 420px;
        }

        h1 {
            font-family: $font-raleway;
            font-weight: 700;
            font-size: calc(22px + .6rem);
            max-width: 1050px;
            color: $cor-preto-1;
            letter-spacing: -0.045em;
            text-align: center;

            @include d(s) {
                font-size: calc(14px + .5rem);

            }
        }
    }

    &__wrapper {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
        justify-items: center;

        @include d(m) {
            grid-template-columns: 1fr;

        }

        .lei__card {
            box-shadow: 10px -1px 30px rgb(0 0 0 / 5%);
            max-width: 600px !important;
            padding: 60px 60px;
            background: white;
            border-radius: 7px;
            min-height: 410px;
            transition: all .4s ease-in-out;

            @include d(m) {
                padding: 50px 30px;
            }

            @include d(s) {
                padding: 30px 20px;
                min-height: 420px;
                box-shadow: 2px 2px 30px rgb(0 0 0 / 6%);
            }

            &:hover {
                background: $cor-verde-claro-2;
            }

            h2 {
                margin-bottom: 40px;
                color: $cor-preto-1;
                font-family: $font-raleway;
                font-weight: 700;
                font-size: calc(42px + .5rem);
                text-align: center;

                @include d(s) {
                    font-size: calc(20px + .5rem);

                }
            }

            p {
                color: #2E2C2C;
                font-weight: 500;
                font-size: rem(18);
                font-family: 'Roboto';
                font-weight: 500;
                line-height: 155%;
                max-width: 440px;
                min-height: 125px;
                text-align: center
            }

            .btn__container {
                @include botaoIsentei($cor-verde-1, transparent);
                justify-content: center;
                width: 100%;

                .btn {
                    transition: all .3s ease;
                    border: 2px solid $cor-verde-1;
                    padding: 16px 40px;
                    width: 320px;
                    text-align: center;
                    margin-top: 45px;
                    justify-content: center;

                    @include d(s) {
                        padding: 16px 20px;
                    }


                    &:hover {
                        background: $cor-verde-1;
                        color: white;
                    }

                }
            }
        }
    }
}

//ornas lei 
.lei {
    position: relative;

    .wave__1 {
        position: absolute;
        left: -1vw;
        top: -54px;
        z-index: -1;
        width: 30vw;
        max-width: 331px;

        @include d(m) {
            max-width: initial;
            width: 186px;
        }
    }

    .wave__2 {
        position: absolute;
        right: -1vw;
        top: -106px;
        z-index: -1;
        width: 30vw;
        max-width: 490px;

        @include d(m) {
            width: 32vw;
            max-width: 350px;
            top: 200px;
            right: -31px;
        }
    }

    .orna__1 {
        position: absolute;
        left: 11vw;
        top: 18vw;
        z-index: 1;
        width: 30vw;
        max-width: 32px;

        @include d(s) {
            max-width: 20px;
        }

        @include d(m) {
            top: 33vh;
            left: 70vw;
        }

        @include d(ss) {
            top: 35vh;
            left: 70vw;
        }
    }

    .orna__2 {
        position: absolute;
        left: 30vw;
        top: 3vw;
        z-index: 1;
        width: 30vw;
        max-width: 25px;
    }

    .orna__3 {
        position: absolute;
        left: 40vw;
        top: 300px;
        z-index: 1;
        width: 400px;
        max-width: 100%;

        @include d(m) {
            display: none;
        }
    }

    .orna__5 {
        top: 100px;
        z-index: 1;
        width: 206px;
        /* max-width: 100%; */
        right: 20px;
        position: absolute;

        @include d(m) {
            display: none;
        }
    }

    .orna__6 {
        top: 127px;
        z-index: 1;
        width: 20px;
        left: 60vw;
        position: absolute;
        opacity: .1;

        @include d(m) {
            display: none;
        }
    }
}

.doenca {
    background: #f9f9f9;
    height: 90vh;
    min-height: 500px;
    max-height: 920px;
    display: flex;
    align-items: center;
    position: relative;

    .container {
        height: 100%;
    }

    .doenca__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;

        h1 {
            font-family: $font-raleway;
            font-weight: 900;
            font-size: calc(42px + .2rem);
            max-width: 1000px;
            margin: 0 auto 20px;
            color: $cor-preto-1 !important;
            letter-spacing: -0.03em;
            position: relative;
            z-index: 3;

            @include d(s) {
                font-size: calc(12px + 1rem);
            }
        }

        h2 {
            font-family: $font-raleway;
            font-weight: 700;
            font-size: calc(22px + .3rem);
            color: $cor-preto-1 !important;
            letter-spacing: -0.03em;
            position: relative;
            z-index: 3;

            @include d(s) {
                font-size: calc(4px + 1rem);
            }

        }


    }

    .btn__container {
        @include botaoIsentei;

        .btn {
            width: 320px;
            justify-content: center;
            padding: 15px 30px;
            margin-top: 60px;
            font-weight: 500;
            max-width: initial;

            @include d(s) {
                width: 280px;
                padding: 15px 10px;

            }

            &:hover {
                ion-icon {
                    transform: translateY(5px);
                }
            }
        }
    }



}

//ornamentos doença

.doenca {
    .orna__1 {
        position: absolute;
        z-index: -1;
        width: 108px;
        top: -29px;
        left: 30px;

        @include d(s) {
            width: 70px;
            top: -29px;
            left: 5px;
        }
    }

    .orna__2 {
        position: absolute;
        z-index: 1;
        width: 30px;
        top: -80px;
        left: -4%;

        @include d(s) {
            width: 20px;
            top: -80px;
            left: 0;
        }
    }

    .orna__3 {
        position: absolute;
        z-index: 1;
        top: -80px;
        right: -4%;
        width: 15px;

        @include d(s) {
            position: absolute;
            z-index: 1;
            top: -25px;
            right: 4%;
            width: 10px;
        }
    }

    .orna__5 {
        position: absolute;
        z-index: 1;
        bottom: 13vh;
        right: 21vw;
        width: 40px;

        @include d(s) {
            bottom: 50px;
            right: 21vw;
            width: 30px;
        }
    }
}

.fale {
    height: 90vh;

    @include d(m) {
        height: 100%;
    }

    >.container {
        height: 100%;
        max-width: 1200px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        @include d(m) {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            flex-direction: column-reverse;
            margin: 40px auto 50px;
        }
    }

    &__text {
        h1 {
            font-family: $font-raleway;
            font-weight: 700;
            font-size: calc(28px + .7rem);
            color: $cor-preto-1;

            @include d(s) {
                font-size: calc(10px + 1rem);
                text-align: center;
            }
        }
    }

    .btn__container {
        @include botaoIsentei;

        @include d(m) {
            margin-bottom: 60px;
            width: 100%;
            justify-content: center;
        }

        .btn {
            padding: 14px 30px;
            width: 330px;
            justify-content: center;
            margin-top: 80px;

            @include d(m) {
                margin-top: 40px;
            }
        }
    }
}