.blog {
  margin-top: 170px;
  max-width: 100%;

  h1 {
    color: $cor-preto-1;
    font-family: $font-raleway;
    font-size: rem(48);
    font-weight: bold;
    margin-bottom: 38px;
    padding: 0 15px;
  }

  .blog__grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .intro__grid {
      display: flex;
      flex-wrap: wrap;


      .intro__img {
        img {
          width: 100%;
          min-height: 400px;
          object-fit: cover;

        }
      }

      .intro__text {
        height: min-content;

        .span {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          span {
            color: $cor-preto-1;
            font-size: rem(14);
            padding-bottom: 16px;

            &:nth-child(2) {
              color: $cor-cinza-3;
              font-size: rem(12);
              align-self: flex-end;
            }
          }
        }

        h2 {
          font-size: rem(36);
          color: $cor-preto-1;
          padding-bottom: 16px;
          line-height: 140%;
        }

        p {
          font-size: rem(16);
          color: $cor-cinza-1;
          line-height: 150%;
        }

        .btn__vermais {
          display: block;
          width: max-content;
          margin-top: 160px;
          font-size: rem(14);
          color: $cor-verde-4;
          font-weight: bold;
          padding: 5px 10px 5px 0;
        }
      }
    }
  }
}

.destaques__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 40px 0;

  .card__img {
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  li:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: rem(12);
    margin-top: 16px;
    color: $cor-preto-1;
  }

  li:nth-child(3) {
    h3 {
      margin: 16px 0;
      font-size: rem(24) !important;
      font-family: $font-raleway;
      font-weight: bold;

      @include d(m) {
        margin-bottom: 8px;
      }
    }

    p {
      font-size: rem(16);
      width: 100%;
      color: $cor-cinza-3;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

}